{% extends "layouts/default.html" %}
{% set title = year %}
{% block pageTitle %}{{ title }}{% endblock %}

{% block content %}
  <h1 class="govuk-heading-xl">{{ title }}</h1>

  {% for month in months %}
    <h2 class="govuk-heading-l">{{ month.name }}</h2>

    <div class="app-month">
      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            {% for day in data.weekdays %}
              <th class="govuk-table__header">{{ day }}</th>
            {% endfor %}
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            {% for day in month.dates %}
              {% if loop.first %}
                {% for i in range(0, month.startOffset) %}
                  <td class="govuk-table__cell app-calendar-no-date-cell"></td>
                {% endfor %}
              {% endif %}

              <td class="govuk-table__cell">
                {{ day.day }}
                <!-- {{ govukCheckboxes({
                  items: [
                    {
                      value: day.obj,
                      text: day.day
                    }
                  ],
                  decorate: ['calendar', day.day, month]
                }) }} -->
              </td>

              {% if day.weekday == 'Sunday' %}
                </tr>
                <tr class="govuk-table__row">
              {% endif %}

              {% if loop.last %}
                {% for i in range(0, month.endOffset) %}
                  <td class="govuk-table__cell app-calendar-no-date-cell"></td>
                {% endfor %}
              {% endif %}
            {% endfor %}
          </tr>
        </tbody>
      </table>
    </div>
  {% endfor %}
{% endblock %}
