{% extends "layouts/default.html" %}
{% set title = year %}
{% block pageTitle %}{{ title }}{% endblock %}

{% block pageNavigation %}
  {{ govukBreadcrumbs({
    items: [{
      text: "Home",
      href: "#"
    }, {
      text: "Calendar",
      href: "#"
    }, {
      text: title
    }]
  }) }}
{% endblock %}

{% block content %}
  <h1 class="govuk-heading-xl govuk-!-margin-bottom-0">
    {{ title }}
  </h1>

  <ul class="govuk-list app-list--inline app-calendar-nav govuk-!-margin-bottom-8 govuk-!-text-align-right">
    <li class="app-calendar-nav-item--prev">
      <a href="/calendar/{{ year - 1 }}" class="app-calendar-nav-link">{{ year - 1 }}</a>
    </li>
    <li class="govuk-!-margin-left-3 govuk-!-margin-right-3">
      {{ year }}
    </li>
    <li class="app-calendar-nav-item--next">
      <a href="/calendar/{{ year + 1 }}" class="app-calendar-nav-link">{{ year + 1 }}</a>
    </li>
  </ul>

  {% for month in months %}
    {% if loop.first %}
      <div class="govuk-grid-row">
    {% endif %}
    <div class="govuk-grid-column-one-quarter">
      <h2 class="govuk-heading-m">
        <a href="/calendar/{{ year }}/{{ month.name | slugify }}">{{ month.name }}</a>
      </h2>
      <div class="app-calendar-month app-calendar-month--small">
        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              {% for day in data.weekdays.short %}
                <th class="govuk-table__header">{{ day | firstLetter }}</th>
              {% endfor %}
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              {% for day in month.dates %}
                {% if loop.first %}
                  {% for i in range(0, month.startOffset) %}
                    <td class="govuk-table__cell app-calendar-no-date-cell"></td>
                  {% endfor %}
                {% endif %}

                <td class="
                  govuk-table__cell
                  {{ 'app-calendar-unavailable-cell' if day.unavailable }}
                  {{ 'app-calendar-weekend-cell' if day.weekend }}
                ">
                  {{ day.day }}
                </td>

                {% if day.weekday == 'Sunday' %}
                  </tr>
                  <tr class="govuk-table__row">
                {% endif %}

                {% if loop.last %}
                  {% for i in range(0, month.endOffset) %}
                    <td class="govuk-table__cell app-calendar-no-date-cell"></td>
                  {% endfor %}
                {% endif %}
              {% endfor %}
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    {% if loop.last %}
      </div>
    {% elseif loop.index % 4 == 0 %}
      </div>
      <div class="govuk-grid-row">
    {% endif %}
  {% endfor %}
{% endblock %}
