{% extends "layouts/default.html" %}
{% block pageTitle %}Teacher misconduct prototypes{% endblock %}

{% block header %}
  {{ govukHeader({
    homepageUrl: "/",
    serviceUrl: "/",
    containerClasses: "govuk-width-container"
  }) }}

  <div class="app-masthead">
    <div class="govuk-width-container">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">
          <h1 class="app-masthead__title govuk-heading-xl govuk-!-margin-bottom-3">
            Teacher misconduct prototypes
          </h1>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <h2 class="govuk-heading-m">Refer serious misconduct by a teacher</h2>

      {{ govukButton({
        text: 'View prototype',
        href: '/report/start'
      }) }}

      <h2 class="govuk-heading-m">Refer serious misconduct by a teacher - Form flow</h2>

      {{ govukButton({
        text: 'View prototype',
        href: '/form/start'
      }) }}

      <h2 class="govuk-heading-m govuk-!-margin-top-6">Panellists recording unavailability</h2>

      {{ govukButton({
        text: 'View prototype',
        href: '/start'
      }) }}

      <ul class="govuk-list">
        <li>
          <a href="https://github.com/fofr/tms-prototype">
            Github repository
          </a>
        </li>
      </ul>
    </div>
  </div>
{% endblock %}
