{% extends "template.njk" %}

{% block head %}
  <link rel="stylesheet" href="/public/stylesheets/application.css" media="all">
  <script src="/public/javascripts/application.js" defer></script>
{% endblock %}

{% block pageTitle %}
  {{- "Error: " if errors -}}
  {{- title + " - " if title -}}
  {{- serviceName + " - GOV.UK" -}}
{% endblock %}

{% set bodyAttributes = {"data-module": "edge"} %}

{% block header %}
  {{ govukHeader({
    homepageUrl: "/",
    productName: productName,
    serviceName: serviceName if not productName,
    serviceUrl: serviceUrl or "/start",
    containerClasses: "govuk-width-container",
    navigation: [
      {
        href: "#",
        text: "Sign out"
      }
    ] if signedIn
  }) }}
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "Prototype"
    },
    text: "This is a prototype of a new service. Some parts may not work yet."
  }) }}

  {% block pageNavigation %}{% endblock %}

  {% if success %}
    {% set successHtml %}
      {% if success.heading %}
      <h3 class="govuk-notification-banner__heading">
        {{ success.heading }}
      </h3>
      {% endif %}
      {{ success.body if success.body }}
    {% endset %}
    {{ govukNotificationBanner({
      html: successHtml,
      type: "success",
      classes: "govuk-!-margin-top-6 govuk-!-margin-bottom-0"
    }) if success }}
  {% endif %}
{% endblock %}

{% block footer %}
  {% set footerHtml %}
    {% if reportService %}
      <div class="govuk-grid-row govuk-!-margin-bottom-8">
        <div class="govuk-grid-column-two-thirds">
          <h2 class="govuk-heading-m">Get help</h2>
          <p>Call 020 7593 5393 or email:<br /><a href="#" class="govuk-footer__link">misconduct.teacher@education.gov.uk</a>
          </p>
        </div>
      </div>
    {% endif %}
    <ul class="govuk-footer__inline-list">
      <li class="govuk-footer__inline-list-item">
        <a class="govuk-footer__link" href="/clear-session-data">
          Clear session data
        </a>
      </li>
      <li class="govuk-footer__inline-list-item">
        <a class="govuk-footer__link" href="/feature-flags">
          Feature flags
        </a>
      </li>
    </ul>
  {% endset %}

  {{ govukFooter({
    meta: { html: footerHtml }
  }) }}
{% endblock %}
