{% extends "template.njk" %}

{% block head %}
  <link rel="stylesheet" href="/public/stylesheets/application.css" media="all">
  <script src="/public/javascripts/application.js" defer></script>
{% endblock %}

{% block pageTitle %}
  {{- "Error: " if errors -}}
  {{- title + " - " if title -}}
  {{- serviceName + " - GOV.UK" -}}
{% endblock %}

{% set bodyAttributes = {"data-module": "edge"} %}

{% block header %}
  {{ govukHeader({
    homepageUrl: "/",
    productName: productName,
    serviceName: serviceName if not productName,
    serviceUrl: "/start",
    containerClasses: "govuk-width-container",
    navigation: [
      {
        href: "#",
        text: "Return to the panellist portal"
      }
    ]
  }) }}
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "Prototype"
    },
    text: "This is a prototype of a new service. Some parts may not work yet."
  }) }}

  {% block pageNavigation %}{% endblock %}

  {% if success %}
    {% set successHtml %}
      {% if success.heading %}
      <h3 class="govuk-notification-banner__heading">
        {{ success.heading }}
      </h3>
      {% endif %}
      {{ success.body if success.body }}
    {% endset %}
    {{ govukNotificationBanner({
      html: successHtml,
      type: "success",
      classes: "govuk-!-margin-top-6 govuk-!-margin-bottom-0"
    }) if success }}
  {% endif %}
{% endblock %}

{% block footer %}
  {{ govukFooter({
    meta: {
      items: [{
        text: "Clear session data",
        href: "/clear-session-data"
      } if useAutoStoreData, {
        text: "Feature flags",
        href: "/feature-flags"
      }],
      visuallyHiddenTitle: "Footer links"
    }
  }) }}
{% endblock %}
